#fondo{
    -fx-background-color: #322F2C;
}

#boton{
    -fx-background-color:#404040;
    -fx-border-color:#FFFFFF;
    
}

#texto{
    -fx-text-fill: #FFFFFF;
}

#borde{
    -fx-border-color:#FFFFFF;
}

