/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 may 2024, 20:48:17
    Author     : jiaji
quisiera ser una mosca, para pararme en tu piel
*/

#fondo{
    -fx-background-color: #313338;
}

#Inicio{
    -fx-text-fill: #00BFFF;
}

#texto{
    -fx-text-fill: #FFFFFF;
}