.back{
    -fx-background-color: #242e49
        
}
.upBack{
    -fx-background-color: #555184
}
.filling{
     -fx-background-color: #38343c
}
.rightback{
    -fx-background-color: #7c677a
}

.button:hover{
    -fx-background-color: #907cb8      
}
.button{
    -fx-background-color: #7c677a;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.paneBack{
    -fx-background-color: #f0ecf4 ;
    -fx-text-fill: #B18B9A;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.toolbar{
    -fx-background-color: #efebf2; 
    -fx-text-fill: #B18B9A;
    -fx-border-radius: 10px;
    -fx-background-radius-up: 10px;
}

.tabs{
    -fx-background-color: #b18b9a;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.tabs:hover{
    -fx-background-color: #907cb8 
}

.menuItem{
    -fx-background-color: #7c677a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menuItem:hover{
    -fx-background-color: #907cb8
}

.item{
    -fx-background-color: #7c677a;
}

.item:hover{
    -fx-background-color: #907cb8
}