/*#fondo{
    -fx-background-color: #313338;
}

#boton{
    -fx-background-color:#404040;
    -fx-border-color:#FFFFFF;
    
}

#botonAc{
    -fx-background-color:#D5D5D5;
}

#texto{
    -fx-text-fill: #FFFFFF;
}

#borde{
    -fx-border-color:#FFFFFF;
}

#acText{
    -fx-text-fill: #00BFFF;
}*/
/*
*/.back{
    -fx-background-color: #242e49
        
}
.upBack{
    -fx-background-color: #555184
}
.filling{
     -fx-background-color: #38343c
}
.rightback{
    -fx-background-color: #7c677a
}
.text{
   radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 60.177% 17.0455%, radius 59.1743%, #000000 0.0%, #242e49a8 100.0%)
}
.button:hover{
    -fx-background-color: #907cb8      
}
.button{
  -fx-background-color: #7c677a;
  -fx-text-fill: #ffffff;
  -fx-padding: 10px 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.paneBack{
  -fx-background-color: #f0ecf4 ;
  -fx-text-fill: #B18B9A;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}

.toolbar{
   -fx-background-color: #efebf2; 
  -fx-text-fill: #B18B9A;
  -fx-border-radius: 10px;
  -fx-background-radius-up: 10px;
}

.tabs{
  -fx-background-color: #b18b9a;
   -fx-text-fill: #ffffff;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}
.tabs:hover{
    -fx-background-color: #907cb8 
}
