#fondo{
    -fx-background-color: #313338;
}

#boton{
    -fx-background-color:#404040;
    -fx-border-color:#FFFFFF;
    
}

#botonAc{
    -fx-background-color:#D5D5D5;
}

#texto{
    -fx-text-fill: #FFFFFF;
}

#borde{
    -fx-border-color:#FFFFFF;
}

#acText{
    -fx-text-fill: #00BFFF;
}